<div>
  <h1 class="mt-5 mx-5 mb-3">Add Bike</h1>
  <div class="container mt-5 mb-5">
    <div class="mb-2">
      <div class="text-center msg">{{message}}</div>
      <div class="text-center msg0">{{message2}}</div>
    </div>
    <div class="add-category-form">
    <form [formGroup]="addbike" enctype="multipart/form-data">
      <div class="form-group">
        <label for="brand">Bike Name</label>
        <input type="text" id="brand" formControlName="bike_name">
        <div *ngIf="f['bike_name'].touched && f['bike_name'].invalid" style="color:red;" class="msgerror">
          <div *ngIf="f['bike_name'].errors && f['bike_name'].errors['required']">You must choose bike.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Bike image</label>
        <input class="form-control" type="file" id="formFile" formControlName="image" (change)="onFileChange($event)">
      </div>
      <div class="form-group">
        <label for="category">Bike Category</label>
        <div class="custom-select">
          <select id="category" formControlName="category_id">
            <option value="" disabled selected>Select a category...</option>
            <option *ngFor="let c of categories" [value]="c.id">{{c.category_name}}</option>
          </select>
        </div>
        <div *ngIf="f['category_id'].touched && f['category_id'].invalid" style="color:red;" class="msgerror">
          <div *ngIf="f['category_id'].errors && f['category_id'].errors['required']">You must choose bike.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Suitable Age</label>
        <input type="text" id="age" formControlName="suitable_age">
        <div *ngIf="f['suitable_age'].touched && f['suitable_age'].invalid" style="color:red;" class="msgerror">
          <div *ngIf="f['suitable_age'].errors && f['suitable_age'].errors['required']">You must choose bike.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description">
        <div *ngIf="f['description'].touched && f['description'].invalid" style="color:red;" class="msgerror">
          <div *ngIf="f['description'].errors && f['description'].errors['required']">You must choose bike.</div>
        </div>
      </div>
      <input type="submit" value="Add Bike" (click)="submit()" [disabled]="addbike.invalid">
    </form>
  </div>
</div>
  