<header>
  <div class="header-background">
    <!-- background image -->
  </div>
</header>
<h2 class="title text-center"><i>About Us</i></h2>


<div class="container-fluid my-5 pb-3 px-5 contain">
  <div class="row align-items-center"> 
    <div class="col-lg-6">
      <div class="content">
        <p class="text">Welcome to Bikes Rental Service, where we're passionate about cycling and dedicated to providing an exceptional experience for every rider. Founded 2 years ago in Egypt, our journey began with a simple mission: to make biking accessible, convenient, and enjoyable for everyone, and we're here to help you pedal your way to unforgettable experiences.</p>
        <!-- <div class="button">
          <a href="#" class="button">Read More</a>
        </div> -->
        <div class="button2">
          <div class="social">
            <a href="#" style="margin-right: 10px;"><i class="fa fa-phone" style="color: #d12929;"></i></a>
            <a href="#" style="margin-right: 10px;"><i class="fa fa-globe" style="color: #cc3333;"></i></a>
            <a href="#"><i class="fa fa-location-dot" style="color: #c72929;"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="img-section">
        <div class="img">
          <img src="../../assets/IMAGE_About-US-1024x599.jpg" class="img-fluid" alt="About Us Image" >
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid mt-4 bg-dark footer">
  <div class="container">
    
        <div class="row pt-4">
          <div class="col-lg-4">
            <h3 class="text1 " style="color:aliceblue">Bikes Rental</h3>
            <p class="text1" style="color:aliceblue">Design and built with all the love in the world by the bootstrap team with the help of our contributors</p>
          </div>
          <div class="col-lg-2">
            <h3 class="text1">links</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">Home</a></li>
              <li class="mb-2"><a href="/docs/5.3/">Docs</a></li>
              <li class="mb-2"><a href="/docs/5.3/examples/">Examples</a></li>
              <li class="mb-2"><a href="https://icons.getbootstrap.com/">Icons</a></li>
              <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
              <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
              <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap" target="_blank" rel="noopener">Swag Store</a></li>
            </ul>
            
          </div>
         
    
            <div class="col-6 col-lg-2 mb-3">
              <h3 class="text1">Guides</h3>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
                <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h3 class="text1">Projects</h3>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">Bootstrap 5</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank" rel="noopener">Bootstrap 4</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Icons</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/rfs" target="_blank" rel="noopener">RFS</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/examples/" target="_blank" rel="noopener">Examples repo</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h3 class="text1">Community</h3>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues" target="_blank" rel="noopener">Issues</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions" target="_blank" rel="noopener">Discussions</a></li>
                <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a></li>
                <li class="mb-2"><a href="https://opencollective.com/bootstrap" target="_blank" rel="noopener">Open Collective</a></li>
                <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5" target="_blank" rel="noopener">Stack Overflow</a></li>
              </ul>
            </div>
          </div>
  </div>
  </div> -->


  