h1{
        font-size: 4vmin;
}
h1 span{
        font-size: 2.7vmin;
}
hr{
        width: 92%;
        margin: auto;
}

/*  */

.text{
        box-shadow: 0vmin 0vmin 1vmin rgb(144, 144, 144);
        padding: 2.5vmin 6vmin;
}
.text h4{
        font-size: 4vmin;
        color: black;
        font-weight: 600;
}
.text i{
        font-size: 3vmin;
        color: black;
}